body {
	background-color: #333333; 
	position: relative;
}


#btncountdown {
	
	font-size: 50px;
	color: orange;
	margin: 100px; 
}

#btn {
	top:20px;
	margin-bottom: 50px;
	
}

#btnInput {

	position: absolute;
	top:50px;
	left:50px;
	font-size: 20px;
	text-align: center;
	margin-left: 385px;
	
}

.ui.orange.progress {
	
	margin: 0 auto;
	width: 630px;
}
.bordure {
	width: 100%;
}
	

#barProgress {
	padding: 50px;
	color: orange;
	margin: 0;
}