body {
	background-color: #333333; 
}


.countdown {
	width: 250px;
	height: 50px;
	border: solid black 1px;
	font-size: 30px;
	color: orange;
}
span {
	margin: 20px;
	
}

.progress {
	width: 675px;
}
